@font-face{
    font-family:'yatraone';
    src:url(yatraone.ttf);

}

body{
	background:url(../images/body-bg.gif) 50% 0;
	font:12px/18px arial;
	color:#717171;
	margin:0;
	padding:0;
	position:relative;
}
main{
	background:url(../images/main-bg.jpg) no-repeat 0;
    
}
header{
    position:relative;
    width:950px;
    margin:0px auto;
    padding:80px 0 0 0;
    background:url(../images/slide-1.jpg) no-repeat center 100px;
    z-index:2;
    }
.inner{
    background:url(../images/header-bg.png);
    padding:26px 10px 20px 100px;
    position:relative;
    z-index:2;
}
.logo{
    display:inline-block;
    padding:0;
}
.logo a{
    position:relative;
    background:url(../images/logo.png) no-repeat 0 0;
    height:58px;
    width:187px;
    display:block;
    overflow:hidden;
    text-indent: -99em;

}
ul{
    margin:0;
    padding:0;
    list-style:none;
    
}
nav{
    float:right;
    padding:0px 0;
}
.menu ul{
    position:absolute;
    top:-999em;
    left:0;
    display:none;
    width:185px;
    min-height:28px;
}
.menu li{
    position:relative;
    float:left;
    margin:0 20px;
}
.menu li a{
    text-decoration: none;
    display:block;
    font-family:'yatraone';
    font-size:16px;
    
    text-transform:uppercase;
    color:#fff;
    padding:5px 0 0 0;
    
}
.menu li a:hover{
    color:black;
    background:url(../images/nav-active.png) no-repeat center 8px;
    padding:15px 0 0 0;

}
.slider{
    position:realtive;
    z-index:1;
    height:402px;}
.mp-slider{
    position:relative;
    top:-109px;
    left:0;
    right:0;
    bottom:511px;
}
.mp-prev, .mp-next{
    position:absolute;
    width:31px;
    height:402px;
    bottom:0px;
    z-index:3;
}
.mp-prev{
    left:0;
    background:url(/images/slider-prev.png) no-repeat 0 0;
}

.mp-next{
    right:0;
    background:url(/images/slider-next.png) no-repeat 0 0;
}
.mp-prev:hover{
    background:url(/images/slider-prev.png) no-repeat right 0;

}
.mp-next:hover{
background:url(/images/slider-next.png) no-repeat right;
}
/***********content area******************/
.content-bg{
    background:url(/images/body-bg.gif);
    padding:35px 20px 43px 20px;
}
dl,dt,dd,blockquote{
    margin:0;
    padding:0;
}
.def-list-1{
    padding:0 0 10px 0;

}
.def-list-1 dt{
    display:block;
    font-size:15px;
    line-height:18px;
    padding:0 0 6px 0;
    font-weight: bold;
}
.def-list-1  a{
    color: #b09609;
    text-decoration:none;
}
.def-list-1 a:hover{
    text-decoration:underline;
}
.banner-box
{
	background:#292929;
	padding:25px 135px 35px 40px;
	position:relative;
}
.banner-box h3{
	font-size:34px;
	line-height:40px;
	padding:0;
	
}
.banner-box h4{
		font-family:'open sans';
		line-height:26px;
		padding:0 0 18px 0;
		letter-spacing:-1px;
		font-weight:300px;
		margin:5px 0 0 0;
		font-size:21px;
		text-transform:uppercase;
}
.inside{
	position:relative;
	z-index:2;
}
.quote
{
	font-size:12px;
	line-height:20px;
	font-style:italic;
	position:relative;
	padding:0 0 15px 0;
}
.quote strong{
	color:#b09609;
	font-weight:normal;
}

.quote:before{
	display:inline-block;
	background:url(../images/quote-before.png) no-repeat 0 0;
	content:" ";
	width:14px;
	height:13px;
	margin:0 5px 0 0;
}
.quote:after{
	display:inline-block;
	background:url(../images/quote-after.png) no-repeat 0 0;
	content:" ";
	width:14px;
	height:13px;
	margin:0 0 0 6px;
}
.author
{
	display:inline-block;
	font-family:'open sans';
	color:#fff;
	font-size:14px;
	line-height:20px;
	font-weight:bold;
}
.author i{
	font-weight:normal;
}
.banner-img
{
	position:absolute;
	right:0;
	bottom:0;
}
.color-1{
    color:white;
}





/*********anchor tags******/
a{
    color:#fff;
    text-decoration:underline;
}
a:hover{
    text-decoration:none;
}
.button{
    display:inline-block;
    font-size:12px;
    color:white;
    text-decoration:underline;
    background:url('/images/link-marker.gif') no-repeat right 7px;
    padding:0 11px 0 0;
}
.alignright{
    text-align:right;
}

/**********border*************/
.hr-border-1{
    border-bottom:1px solid #323232;
    margin:0 0 10px 0;
}
.hr-border-2{
    background: #323232;
    margin:20px 0 20px 0;
    height:3px;
}

/**********headings*****************/
h1,h2,h3,h4,h5,h5{
    font-family:'yatraone';
    color:white;
    padding:0 0 9px 0;
    font-weight:normal;
    margin:0;
}
h1{font-size:40px;line-height:48px;}
h2{font-size:36px;line-height:44px;}
h3{font-size:32px;line-height:40px;}
h4{font-size:28px;line-height:36px;}
h5{font-size:24px;line-height:32px;}
h6{font-size:20px;line-height:28px;}

/****indendts**************/
.img-indent-bot{margin:5px 0 16px 0;}
.indent-bottom{padding:0 0 32px 0;}
.indent-right{margin-right:90px;}
.indent-bottom-1{padding:0 0 60px 0;}
.img-indent{float:left;margin:5px 10px 0 0}
.heading-1,strong{
    color:#b30404;
}	
.str-1{font-weight:normal;text-transform:uppercase;}
.str-2{color:#b09609;}

.p2{padding-bottom:18px !important;}	
.p1{padding-bottom:0px !important;}
.pad-left{padding-left:35px}
.pad-left{padding-top:8px;}
.po{padding-bottom:0px !important;}
    
.list-1{
    padding:0 0 20px 0;
}
.list-1 li{
    display:block;
    padding:4px 0 4px 16px;
    border-top:1px solid #323232;
    background:url(/images/list-1-marker.gif) no-repeat 0 9px;
}
.list-1 li:first-child{
    border:none;
}
.list-1 li a{
    color:#717171;
    font-size:14px;
    line-height:20px;
    padding:5px 0 6px;
    text-decoration:none;
}
.list-1 li a:hover{
    color:#fff;
}
footer{
    color:#717171;
    font-size:12px;
}
.footer-bg{
    background:url(/images/body-bg.gif);
    padding:0 20px 30px 30px;
}
.copyright{
    padding:5px 0 0 0;
}
.footer-logo{
    font-weight:bold;
    font-size:24px;
    line-height:30px;
    font-family: 'Gill Sans';
    margin:7px 0 0 0;
    display:inline-block;
}
.social-list li{
    padding:0px 0 0 0;
    text-align:left;
}
.social-list a{
    
    height:24px;
    display:inline-block;
    background: #585858;
}
.social-list a:hover{
    background:red;
}

.wrapper{
    overflow:hidden;
    position:relative;
}
.extra-wrap{
    overflow:hidden;
    display:block;
}
.def-list-1 .dt{
        text-align: justify;
        font-size:6px;
        line-height: 10px;
}
.dropcap{
    float:left;
    font-family: fantasy;
    font-size:24px;
    line-height:30px;
    color:#b30404;
    padding-right:8px;
}
.price-list li{
    overflow:hidden;
    font-size:14px;
    line-height:18px;
    padding:0 0 12px 14px;
    background:url(/images/list-1-marker.gif) no-repeat 0px 5px;
}
.price-item{
    float:left;
    color:#717171;
    text-decoration:none;
    max-width:70%;
    margin:0 6px 0 0;
}
.price-item:hover{color:white;}
.price{
    float:right;
    margin:0 0 0 6px;
    width:60px;
    text-align:left;
    color:red;
}
.filler{
    display:block;
    background:url(/images/filler.gif) repeat-x 0 bottom;
    height:15px;
    overflow:hidden;
}
.address dt{
    display:block;
    font-weight:normal;
    columns: #717177;
    font-size:12px;
    line-height:18px;
    width:235px;
}
.address dt{
    font-size:12px;
    line-height:18px;
    color:#717171;
    overflow:hidden;
}
.address span{
    float:left;
    width:59px;
    text-align:right;
    margin:0 6px 0 0;
}
#contact-form{
    display:block;
    position:relative;
    margin:7px 0 0 0;
}
fieldset{
    margin:0;
    padding:0;
    border:none;
}
#contact-form label{
    display:block;
    min-height:34px;
    position:relative;
    overflow:hidden;
}
#contact-form span{
    float:left;
    width:69px;
    text-align:right;
    margin:4px 8px 0 0;
}
#contact-form input,textarea{
    background: #2f2f2f;;
    outline:none;
    width:490px;
    font-size:12px;
    padding:5px 5px 6px 5px !important;
    font-family:arial;
    display:block;
    color:#717171;
    margin:0;
    box-shadow:3px 3px 3px rgba(0,0,0,0.1) inset;
    border:1px solid #464646;
    float:left;
}
#contact-form input{
    height:15px;
}
#contact-form textarea{
    height:15px;
    overflow:auto;
    resize:none;
}
.btns a{
    padding:15px 0 0 0;

    overflow:hidden;
    float:right;
}